/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Navigation Styling */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 0 40px;
    margin: 0 20px;
}

#nav a {
    display: block;
    padding: 15px 0;
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: -1px;
    font-family: sans-serif;
    font-size: 14px;
}

#nav a.active {
    color: black;
    border-bottom: 1px solid black;
    -webkit-transition: border .5s ease-in;
    -moz-transition: border .5s ease-in;
    -o-transition: border .5s ease-in;
    transition: border .5s ease-in;
}

#nav a.active:hover {
    color: black;
}

#nav a:hover {
    color: lightskyblue;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

/* Styling for screen widths less than 750px */
@media screen and (max-width: 750px) {
    #nav {
        flex-direction: column;
    }

    #nav a {
        width: 100%;
        text-align: center;
    }
}